#africa-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/Africa.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	position: relative;
}

#kigali{
	width: 10%;
	height: 8vw;
	background-image: url(../image/memorial.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:55%;
	margin-top: 25%;
	cursor: pointer;
}

#kigali:hover{
	background-image: url(../image/memorial2.png);
}

#kigali:active{
	background-size: 90%;
}

#victoria{
	width: 10%;
	height: 8vw;
	background-image: url(../image/waterfall.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:47%;
	margin-top: 37%;
	cursor: pointer;
}

#victoria:hover{
	background-image: url(../image/waterfall2.png);
}

#victoria:active{
	background-size: 80%;
}

#ramesseum{
	width: 10%;
	height: 8vw;
	background-image: url(../image/temple.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:51.5%;
	margin-top: 7.5%;
	cursor: pointer;
}

#ramesseum:hover{
	background-image: url(../image/temple2.png);
}

#ramesseum:active{
	background-size: 90%;
}
/* content */

.pic img{
	float: left;
	opacity: 1;
}


.pic-1{
	background-color:rgba(255, 255, 255, 0.5);
	display: grid;
	grid-template-columns: auto auto ;
	grid-gap: 10px;
	padding: 15px;
	
}

.pic p{
	position: relative;
	margin-left: 10%;
}

P{
	line-height: 60em;
}


.font{
	font-weight: bold;
	font-size: x-large;
}


blockquote{
	padding-top: 1em;
	padding-right: 5em;
	padding-bottom: 1em;
	line-height: 2em;
	}

table, th, td, tr{
		padding: 10px;
		text-align: left;
	}

th{
		font-size: 25px;
	}

td{
		font-size: 20px;
	}

span.color{
	color: #ffffff;
	opacity: 0;
}