#americaS-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/americaS.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#easter-island{
	width: 12%;
	height: 8vw;
	background-image: url(../image/easter-island.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 40%;
	margin-top: 32%;
	cursor: pointer;
}

#easter-island:hover{
	background-image: url(../image/easter-island2.png);
}

#easter-island:active{
	background-size: 90%;
}

#igu-fall{
	width: 8%;
	height: 8vw;
	background-image: url(../image/fall.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 38%;
	margin-top: 6%;
	cursor: pointer;
}

#igu-fall:hover{
	background-image: url(../image/fall2.png);
}

#igu-fall:active{
	background-size: 90%;
}

#fortress{
	width: 10%;
	height: 8vw;
	background-image: url(../image/memorial.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 58%;
	margin-top: 15%;
	cursor: pointer;
}

#fortress:hover{
	background-image: url(../image/memorial2.png);
}

#fortress:active{
	background-size: 90%;
}

#diduknow{
	margin-top: 60%;
	margin-left: 80%;
}

#diduknow-bg{
	margin-top: 61%;
	margin-left: 80%;
}

#diduknow:active{
	margin-top: 61%;
}
