#antarctica-container{
	width: 75%;
	height: 35vw;
	background-image: url(../image/Antarctica.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#ice {
	width: 10%;
	height: 8vw;
	background-image: url(../image/iceberg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 30%;
	margin-top: 18%;
	cursor: pointer;
}

#ice:hover{
	background-image: url(../image/iceberg2.png);
}

#ice:active{
	background-size: 90%;
}

#island{
	width: 10%;
	height: 8vw;
	background-image: url(../image/fishing.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 48%;
	margin-top: 11%;
	cursor: pointer;
}

#island:hover{
	background-image: url(../image/fishing2.png);
}

#island:active{
	background-size: 90%;
}

/* content */

.pic img{
	float: left;
	opacity: 1;
}


.pic-1{
	background-color:rgba(255, 255, 255, 0.5);
	display: grid;
	grid-template-columns: auto auto ;
	grid-gap: 10px;
	padding: 15px;
	
}

.pic p{
	position: relative;
	margin-left: 10%;
}

P{
	line-height: 60em;
}


.font{
	font-weight: bold;
	font-size: x-large;
}


blockquote{
	padding-top: 1em;
	padding-right: 5em;
	padding-bottom: 1em;
	line-height: 2em;
	}

table, th, td{
		padding: 10px;
		text-align: left;
	}

th{
		font-size: 25px;
	}

td{
		font-size: 20px;
	}

span.color{
	color: #ffffff;
	opacity: 0;
}
	
/* DidYouKnow */

#diduknow{
	margin-top: 35%;
	margin-left: 80%;
	width: 20%;
	height: 15% !important;
}

#diduknow:active{
	margin-top: 36%;
}

#diduknow-bg{
	margin-top: 36%;
	margin-left: 80%;
	height: 15% !important;
}

