#antarctica-container{
	width: 75%;
	height: 35vw;
	background-image: url(../image/Antarctica.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#ice {
	width: 10%;
	height: 8vw;
	background-image: url(../image/iceberg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 30%;
	margin-top: 18%;
}

#ice:hover{
	background-image: url(../image/iceberg2.png);
}

#ice:active{
	background-size: 90%;
}

#island{
	width: 10%;
	height: 8vw;
	background-image: url(../image/fishing.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 48%;
	margin-top: 11%;
}

#island:hover{
	background-image: url(../image/fishing2.png);
}

#island:active{
	background-size: 90%;
}

.pic img{
	float: left;
	opacity: 1;
}


.pic-1{
	background-color:rgba(255, 255, 255, 0.5);
	display: grid;
	grid-template-columns: auto auto ;
	grid-gap: 50px;
	padding: 15px;
	/* margin-left: 20%;
	position: relative; */
}

.pic p{
	position: relative;
	margin-left: 10%;
}

