
#asia-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/asia.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#fuji{
	width: 10%;
	height: 8vw;
	background-image: url(../image/fuji-mountain.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:70%;
	margin-top: 18%;
	cursor: pointer;
}

#fuji:hover{
	background-image: url(../image/fuji-mountain2.png);
}

#fuji:active{
	background-size: 90%;
}

#terracotta{
	width: 10%;
	height: 8vw;
	background-image: url(../image/warrior.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:55%;
	margin-top: 14%;
	cursor: pointer;
}

#terracotta:hover{
	background-image: url(../image/warrior2.png);
}

#terracotta:active{
	background-size: 90%;
}

/* content */

.pic img{
	float: left;
	opacity: 1;
}


.pic-1{
	background-color:rgba(255, 255, 255, 0.5);
	display: grid;
	grid-template-columns: auto auto ;
	grid-gap: 10px;
	padding: 15px;
	
}

.pic p{
	position: relative;
	margin-left: 10%;
}

P{
	line-height: 60em;
}


.font{
	font-weight: bold;
	font-size: x-large;
}


blockquote{
	padding-top: 1em;
	padding-right: 5em;
	padding-bottom: 1em;
	line-height: 2em;
	}

table, th, td, tr{
		padding: 10px;
		text-align: left;
	}

th{
		font-size: 25px;
	}

td{
		font-size: 20px;
	}

span.color{
	color: #ffffff;
	opacity: 0;
}

/* didyouknow */

#diduknow{
	margin-top: 60%;
	margin-left: 80%;
}

#diduknow-bg{
	margin-top: 61%;
	margin-left: 80%;
}

#diduknow:active{
	margin-top: 61%;
}