
.Did-U-Know-container img{
    width: 100%;
    height: 100%;
}

.Did-U-Know-container {
    display: grid;
    height: auto ;
    align-content: center;
    grid-template-columns: auto auto ;
    grid-gap: 50px;
    padding: 20px;
    margin:0px 30px;
  }
  
  .Did-U-Know-container > div {
    padding: 20px 0;
  }

  .style-content{
    padding-right:20px !important;
    padding-left:20px !important;
    text-indent:2em;
    background-color:#fcd493;
    text-align:left ;
    font-size: 20px;
  }
