
    .bottom-container{
      padding-top: 90px;
      padding-bottom: 500px;
      text-align: center;
      font-size: 60px;
      background-image:url(../image/pinestree.PNG);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .contact img{
      border-radius: 50%;
      opacity: 1;
    }
    
    .contact-us {
      display: grid;
      height: auto;
      align-content: center;
      grid-template-columns: auto auto auto;
      grid-gap: 15px;
      padding: 10px;
    }
      
    .contact-us > div {
      background-color: rgba(255, 255, 255, 0.4);
      text-align: center;
      padding: 20px 0;
      font-size: 20px;
    }

    .contact {
      position: relative;
      display: inline-block;
      width: 100%;
    }
      
    .contact-content {
      font-size: 25px;
      border-width: 4px;
      border-radius: 8px;
      display: none;
      position: absolute;
      background-color: #fcd493;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }

      .contact:hover .contact-content {
        display: block;
      }

      .inside-container{
        display: grid;
        grid-template-columns: auto auto ;
        grid-gap: 10px;
        padding: 5px;
      }

      .inside-container> div {
        text-align: center;
        padding: 20px px 20px 2px;
        font-size: 20px;
        width: 15vw;
      }

/* reference */

    .bottom_bg{
      padding-top: 90px;
      padding-bottom: 400px;
      background-image:url(../image/mountain_bg.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      text-align: center;
    }

    .header{
      border-radius: 20%;
      background-color: rgba(255, 255, 255, 0.2);
      padding:5px;
    }

    .button {
      background-color:#fcd493; 
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      width: 50%;
      border-radius: 20px;
    }

    #head-ref{
      margin-left: auto;
      margin-right: auto;
    }
    
    .head-ref .button:hover {
      background-color:gray;
    }

    .center{
      text-align: center;
    }
