#europe-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/Europe.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#paris{
	width: 12.5%;
	height: 10vw;
	background-image: url(../image/eiffel-tower.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 32%;
	margin-top: 29%;
	cursor: pointer;
}

#paris:hover{
	background-image: url(../image/eiffel-tower2.png);
}

#paris:active{
	background-size: 90%;
}

#parthenon{
	width: 8%;
	height: 8vw;
	background-image: url(../image/parthenon.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 48%;
	margin-top: 41%;
	cursor: pointer;
}

#parthenon:hover{
	background-image: url(../image/parthenon2.png);
}

#parthenon:active{
	background-size: 90%;
}

#uk{
	width: 12.5%;
	height: 10vw;
	background-image: url(../image/stonehenge.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 58%;
	margin-top: 28%;
	cursor: pointer;
}

#uk:hover{
	background-image: url(../image/stonehenge2.png);
}

#uk:active{
	background-size: 90%;
}