body{
	font-family: 'Asap Condensed';
	background-color: #a1d1e2;
	/* background-color: #2a443f; */
	width: 100%;
	margin: 0px;
}

.wd-100{
	width: 100%;
}

.wd-80{
	width: 80%
}

.wd-70{
	width: 70%;
}

.wd-60{
	width: 60%;
}

.wd-50{
	width: 50%;
}

.wd-40{
	width: 40%;
}

.wd-30{
	width: 30%;
}

.wd-20{
	width: 20%;
}

.cursor-point{
	cursor: pointer;
}

#welcome-page-inside-box{
	background-color: rgba(255,255,255,0.2);
	width: 30%;
	height: 20vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	border-radius: 10%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}

#welcome-page-inside-box:hover{
	background-color: rgba(255,255,255,0.25);
}

#welcome-page-inside-box:active{
	background-color: rgba(255,255,255,0.3);
}

.text{
	color: white; 
	font-size: 2.5vw;
	/*margin-top: 175px;*/
}

#welcome-page-btn{
	background-color: #7d512b;
	height: 4.5vw;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10%;
	position: relative;
}

#welcome-page-btn:hover{
	background-color: #5d412b;
}

#welcome-page-btn:active{
	background-color: #4d412b;
}

#welcome-page-btn .btn-text{
	font-size: 1.25vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
}

#each-continental-main-page-head{
	color: white; 
	font-size: 5vw;
	text-align: center;
	margin-top: 50px;
}

#welcome-page-container{
	width: 75%;
	height: 39vw;
	margin-top: 50px;
	position: relative;
	background-image: url("../image/All-Recovered.png");
	background-repeat: no-repeat;
	background-size: 80vw,auto;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #2a443f;
}

#seccond-content{
	display: none;
}

#back-btn{
	width: 6%;
	height: 6%;
	background-color: #6d412b;
	border-radius: 10%;
	margin-top: 44%;
	margin-left: 5.25%;
	position: absolute;
	opacity: 0;
}

#back-btn:hover{
	background-color: #4d412b;
}

#back-btn:active{
	background-color: #5d412b;
}

#back-btn .btn-text{
	font-size: 1vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
	text-align: center;
}

.btn-color{
	background-color: #3e2525;
	opacity: 0.5;
}

.btn-color:hover{
	opacity: .8;
}

.btn-color:active{
	opacity: 1;
}

#americaN-btn{
	width: 8%;
	height: 8%;
	border-radius: 10%;
	margin-top: 5%;
	margin-left: 20%;
	position: absolute;
}

#americaN-btn .btn-text{
	font-size: 1vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
	text-align: center;
}

#americaS-btn{
	width: 8%;
	height: 8%;
	border-radius: 10%;
	margin-top: 27%;
	margin-left: 26%;
	position: absolute;
}

#americaS-btn .btn-text{
	font-size: 1vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
	text-align: center;
}

#europe-btn{
	width: 8%;
	height: 8%;
	border-radius: 10%;
	margin-top: 6.5%;
	margin-left: 51%;
	position: absolute;
}

#europe-btn .btn-text{
	font-size: 1vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
	text-align: center;
}

#asia-btn{
	width: 8%;
	height: 8%;
	border-radius: 10%;
	margin-top: 9%;
	margin-left: 67%;
	position: absolute;
}

#asia-btn .btn-text{
	font-size: 1vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
	text-align: center;
}

#africa-btn{
	width: 8%;
	height: 8%;
	border-radius: 10%;
	margin-top: 19%;
	margin-left: 47%;
	position: absolute;
}

#africa-btn .btn-text{
	font-size: 1vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
	text-align: center;
}

#australia-btn{
	width: 8%;
	height: 8%;
	border-radius: 10%;
	margin-top: 31.5%;
	margin-left: 83%;
	position: absolute;
}

#australia-btn .btn-text{
	font-size: 1vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
	text-align: center;
}

#antarctica-btn{
	width: 8%;
	height: 5%;
	border-radius: 10%;
	margin-top: 49%;
	margin-left: 50%;
	position: absolute;
}

#antarctica-btn .btn-text{
	font-size: 1vw;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50% , -50%);
	text-align: center;
}

/* Africa content */

#africa-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/Africa.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	position: relative;
}

#kigali{
	width: 10%;
	height: 8vw;
	background-image: url(../image/memorial.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:55%;
	margin-top: 25%;
}

#kigali:hover{
	background-image: url(../image/memorial2.png);
}

#kigali:active{
	background-size: 90%;
}

#victoria{
	width: 10%;
	height: 8vw;
	background-image: url(../image/waterfall.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:47%;
	margin-top: 37%;
}

#victoria:hover{
	background-image: url(../image/waterfall2.png);
}

#victoria:active{
	background-size: 80%;
}

#ramesseum{
	width: 10%;
	height: 8vw;
	background-image: url(../image/temple.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:51.5%;
	margin-top: 7.5%;
}

#ramesseum:hover{
	background-image: url(../image/temple2.png);
}

#ramesseum:active{
	background-size: 90%;
}

/* Asia content */

#asia-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/asia.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#fuji{
	width: 10%;
	height: 8vw;
	background-image: url(../image/fuji-mountain.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:70%;
	margin-top: 18%;
}

#fuji:hover{
	background-image: url(../image/fuji-mountain2.png);
}

#fuji:active{
	background-size: 90%;
}

#terracotta{
	width: 10%;
	height: 8vw;
	background-image: url(../image/warrior.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:55%;
	margin-top: 14%;
}

#terracotta:hover{
	background-image: url(../image/warrior2.png);
}

#terracotta:active{
	background-size: 90%;
}

/* north america content */
#americaN-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/americaN.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#grandcanyon{
	width: 10%;
	height: 8vw;
	background-image: url(../image/grand-canyon.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:23%;
	margin-top: 20%;
}

#grandcanyon:hover{
	background-image: url(../image/grand-canyon2.png);
}

#grandcanyon:active{
	background-size: 90%;
}

#olympic{
	width: 10%;
	height: 8vw;
	background-image: url(../image/stadium.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:50%;
	margin-top: 15%;
}

#olympic:hover{
	background-image: url(../image/stadium2.png);
}

#olympic:active{
	background-size: 90%;
}

#teotihuacan{
	width: 10%;
	height: 8vw;
	background-image: url(../image/teotihuacan.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left:25%;
	margin-top: 35%;
}

#teotihuacan:hover{
	background-image: url(../image//teotihuacan2.png);
}

#teotihuacan:active{
	background-size: 90%;
}

/* south america content */
#americaS-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/americaS.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#easter-island{
	width: 12%;
	height: 8vw;
	background-image: url(../image/easter-island.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 40%;
	margin-top: 32%;
}

#easter-island:hover{
	background-image: url(../image/easter-island2.png);
}

#easter-island:active{
	background-size: 90%;
}

#igu-fall{
	width: 8%;
	height: 8vw;
	background-image: url(../image/fall.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 38%;
	margin-top: 6%;
}

#igu-fall:hover{
	background-image: url(../image/fall2.png);
}

#igu-fall:active{
	background-size: 90%;
}

#fortress{
	width: 10%;
	height: 8vw;
	background-image: url(../image/memorial.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 58%;
	margin-top: 15%;
}

#fortress:hover{
	background-image: url(../image/memorial2.png);
}

#fortress:active{
	background-size: 90%;
}

/* antarctica content */
#antarctica-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/Antarctica.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#ice {
	width: 10%;
	height: 8vw;
	background-image: url(../image/iceberg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 30%;
	margin-top: 18%;
}

#ice:hover{
	background-image: url(../image/iceberg2.png);
}

#ice:active{
	background-size: 90%;
}

#island{
	width: 10%;
	height: 8vw;
	background-image: url(../image/fishing.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 48%;
	margin-top: 11%;
}

#island:hover{
	background-image: url(../image/fishing2.png);
}

#island:active{
	background-size: 90%;
}

/* australia content */
#australia-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/Australia.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#opera{
	width: 10%;
	height: 8vw;
	background-image: url(../image/sydney.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 62%;
	margin-top: 30%;
}

#opera:hover{
	background-image: url(../image/sydney2.png);
}

#opera:active{
	background-size: 90%;
}

#reef{
	width: 10%;
	height: 8vw;
	background-image: url(../image/coral.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 71%;
	margin-top: 15%;
}

#reef:hover{
	background-image: url(../image/coral2.png);
}

#reef:active{
	background-size: 90%;
}

#falls{
	width: 8%;
	height: 8vw;
	background-image: url(../image/fall.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 30%;
	margin-top: 25%;
}

#falls:hover{
	background-image: url(../image/fall2.png);
}

#falls:active{
	background-size: 90%;
}
/* europe content */
#europe-container{
	width: 75%;
	height: 60vw;
	background-image: url(../image/Europe.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#paris{
	width: 10%;
	height: 8vw;
	background-image: url(../image/eiffel-tower.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 34%;
	margin-top: 33%;
}

#paris:hover{
	background-image: url(../image/eiffel-tower2.png);
}

#paris:active{
	background-size: 90%;
}

#parthenon{
	width: 8%;
	height: 8vw;
	background-image: url(../image/parthenon.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 48%;
	margin-top: 42%;
}

#parthenon:hover{
	background-image: url(../image/parthenon2.png);
}

#parthenon:active{
	background-size: 90%;
}

#uk{
	width: 10%;
	height: 8vw;
	background-image: url(../image/stonehenge.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 58%;
	margin-top: 30%;
}

#uk:hover{
	background-image: url(../image/stonehenge2.png);
}

#uk:active{
	background-size: 90%;
}